# redis-sentinel {{ redis_version }} configuration file
# sentinel_{{ redis_sentinel_port }}.conf

daemonize {{ redis_daemonize }}
dir {{ redis_sentinel_dir }}
pidfile {{ redis_sentinel_pidfile }}
port {{ redis_sentinel_port }}
bind {{ redis_sentinel_bind }}

# Security
{% if redis_sentinel_password %}
requirepass {{ redis_sentinel_password }}
{% endif %}

{% if redis_cluster_name is defined %}

sentinel monitor {{ redis_cluster_name }} {{ redis_master_ip }} {{redis_listen_port}} {{ redis_sentinel_monitor.parallel_syncs }}
sentinel down-after-milliseconds {{ redis_cluster_name }} {{ redis_sentinel_monitor.down_after_milliseconds }}
sentinel failover-timeout {{ redis_cluster_name }} {{ redis_sentinel_monitor.failover_timeout }}
sentinel parallel-syncs {{ redis_cluster_name }} 2

{% endif %}

logfile {{ redis_sentinel_logfile }}
syslog-enabled {{ redis_syslog_enabled }}
syslog-ident {{ redis_sentinel_syslog_ident }}
syslog-facility {{ redis_syslog_facility }}